* {
  font-family: "Josefin Sans", sans-serif;
}

.sign_up_page {
  display: grid;
  height: 40vh;
  width: 50%;
  margin: auto;

  .signuptitle {
    font-size: 50px;
    color: orange;
  }

  .name {
  }

  .last_name {
  }

  .email {
  }

  .terms {
  }

  .sign_up_btn {
  }
}
