<<<<<<< HEAD
.filterButton {
    height: 60px;
    width: 60px;
    border-radius: 12px;
    background-color: #186E62;
    color: rgb(245, 222, 200);
    font-size: 20px;
    margin-top: 10px;
}
=======

>>>>>>> 9f125ad600a278790f4d7b3846ba2694cb4b1d94
