@import '../../sass/abstracts/variables';
@import '../../sass/base/typography';

//------------------------------
// Mobile first approach
//------------------------------

.landingPage {
    background-color: $color-green;
}

.gridContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 30% 30% auto;
    grid-template-areas: 
        "topleft        middle  middle"
        "bottomleft     middle  middle"
        "buttons        buttons buttons";
    padding: 7% 5% 0 5%;

    .topLeft {
        grid-area: topleft;
        background-color: $color-pink;
        border-radius: 30px 30px 0 0;
        position: relative;

        .circle {
            height: 8vh;
            width: 8vh;
            background-color: $color-white;
            border-radius: 50%;
            position: absolute;
            top: 20%;
            left: 30%;
        }
    }

    .bottomLeft {
        grid-area: bottomleft;
        background-color: $color-copper;
        border-radius: 0 0 0 50%;
    }

    .middle {
        grid-area: middle;
        background-color: $color-white;
        border-radius: 30px 0px 30px 0;

        p{
            @extend %main-font;
            font-size: 50px;
            font-weight: 800;
            color: $color-green;
            padding: 5%;
            margin-bottom: 10%;
        }
    }

//BUTTON
    .bottomRight {
        grid-area: buttons;
        // padding-top: 10%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;

        .LandingPageButton {
            text-align: left;
            margin: 20px;
            padding: 0 10px;
            height: 35px;
            border-radius: 15px;
            border: none;
            color: $color-white;
            transition: 0.3s ease;
            @extend %main-font;
            font-size: 15px;
            background-color: $color-copper;
            box-shadow: 0 10px $color-darkercopper;
            width: 120px;
            text-align: center;
            align-items: center;
            
        
            &:hover {
                box-shadow: 0 8px $color-darkercopper;
                transform: translateY(1px);
            }
            &:active {
                background-color: $color-darkercopper;
                box-shadow: 0 5px $color-darkercopper;
                transform: translateY(4px);
                text-decoration: none;
                outline: none;
            }
            &:focus {
                outline: none;
                border: none;
            }
        }
    }
}

.registration {
    grid-area: howToo;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: flex-start;

    .registrationProcess {
        padding: 7% 5% 0 5%;
        color: $color-white;
        @extend %secondary-font;
        padding: 15px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        font-size: 15px;
        
        img {
            width: 100px;
            margin-left: auto;
            margin-right: auto;
            display: block;
            height:80px;
            padding-left: none;
        }

        p{
            padding: 5%;
        }
    }
}

//------------------------------------------
// Large devices laptops 
//------------------------------------------

@media (min-width: 1000px) {
    .gridContainer {
        display: grid;
        grid-template-columns: 25% 50% 25%;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
            "topleft    middle topright"
            "bottomleft middle buttons";
        padding: 5% 10% 0 10%;

        .topLeft {
            margin-top: 25%;
            height: 90%;
    
            .circle {
                height: 50%;
                width: 35%;
            }
        }

        .middle {
            grid-area: middle;
    
            p{
                font-size: 150px;
                font-weight: 800;
                margin-bottom: 0;
                padding: 3% 13% 0% 7%;
            }
        }
        
        .topRight {
            grid-area: topright;
            border-radius: 0 30px 0 0;
            position: relative;
            background-color: $color-pink;
            width: 90%;
    
            .semiCircle {
                height: 100%;
                width: 100%;
                background-color: $color-copper;
                position: absolute;
                bottom: 0;
                left: 0;
                border-radius: 0 95% 0 0;
            }
        }
        
        .bottomRight {
            grid-area: buttons;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            padding-top: 0%;

            button.LandingPageButton {
                width: 250px;
                font-size: 20px;
                padding-left: 5px;
                height: 50px;
                font-size: 30px;
                
            }
        }
    }

    .registration {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin-top: 1%;

        .registrationProcess {
            padding: 3% 5% 4.7% 5%;

            img {
                width: 100px;
            }

            p{
                font-size: 25px;
            }
        }
    }
}



