@import '../../../sass/abstracts/variables';

.filter {
    button {
    height: 60px;
    width: 60px;
    border-radius: 12px;
    background-color: $color-pink;
    color: $color-white;
    font-size: 20px;
    margin-top: 10px;
    cursor: pointer;
    }
}
