* {
  border: 0;
  margin: 0;
  box-sizing: border-box;
}

.signin input {
  padding: 15px 20px;
  margin: 7.5px 0;
  width: 275px;
  border: 2px solid black;
  font-size: 18px;
}
.signin h3 {
  height: auto;
  font-size: 68px;
  color: #233D2A;
  cursor: default;
}
.signin .form_container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 15px 0;
  flex-direction: column;
  align-items: center;
}
.signin .terms p {
  font-size: 17px;
  color: blue;
  margin: 5px 0 15px;
}
.signin .sign_in_btn {
  font-size: 22px;
  height: 40px;
  width: 170px;
  background-color: #82A28B;
  color: #ffffff;
  text-decoration: underline;
  cursor: pointer;
}
.signin p {
  font-size: 20px;
  color: #233D2A;
}
.signin p button {
  font-size: 18px;
  background-color: #82A28B;
  color: #ffffff;
  padding: 3px 3px 1px;
  text-decoration: underline;
  cursor: pointer;
}