@import '../../sass/abstracts/variables';
@import '../../sass/base/typography';

.RestaurantDetails {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: auto;
    padding: 10px;
    background-color: $color-green;

    .dietaryImages {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 60%;

        img {
            height: auto;
            width: 10%;
        }
    }

    .fontawesomeContainer{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        font-size: 25px;
        width:60%;
        color: $color-white;


        .span{
            width:100%;
        }
    }

    .imageLogo {
        display: flex;
        width: 60%;

        .responsiveImageLogo {
            height: auto;
            width: 100%;
        }
    }

    .image {
        display: flex;
        width: 45%;
        padding: 1%;

        .responsiveImage {
            height: auto;
            width: 100%;
        }
    }
    
    button {
    height: 50px;
    font-size: 20px;
    background-color:$color-pink;
    color: $color-white;
    font-size: 20px;
    border-radius: 5%;
    padding: 10px;
    }

    p {
    display: flex;
    text-align: left;
    width: 60%;
    height: 100%;
    font-size: 15px;
    color: $color-white;
    // align-items: center;
    // justify-content: center;


    }            
    
    h1 {
        margin-top: 10px;
        text-align: center;
        font-size: 300%;
        border-bottom: 2px white solid;
        color: $color-white;
    }
}

@media (min-width:750px) {
    .RestaurantDetails{

        .dietaryImages {
            width: 30%;
            
        }
    }    
}

