@import '../../../sass/abstracts/variables';

.fa {
    color: $color-green;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-size: 4.5rem;
  }
  
  .location {
    display: flex;
    color: $color-green;
  }