@import '../../../sass/abstracts/variables';

.search {
  color: $color-pink;
  width: auto
}
  
.fa {
  color: $color-pink;
  width: 100px;
  padding: 10px;
  margin-top: 10px;
  cursor: pointer;
  position: relative;
  top: 10px;
  padding-left: 5px;
  margin-top: 0px;
  font-size: 40px;
}

  
