* {
  border: 0;
  margin: 0;
  box-sizing: border-box;
}

.adminPage {
  width: 100%;
  background-color: #82A28B;
  font-family: "Josefin Sans", sans-serif;
}
.adminPage h1 {
  text-align: center;
  color: #ffffff;
  font-weight: bold;
  font-size: 3rem;
}
.adminPage .form {
  width: 40px;
  display: flex;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: #233D2A;
  width: 80%;
  height: 70vh;
  margin: 50px auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 8px solid #CF6B58;
  font-family: "Josefin Sans", sans-serif;
  color: white;
}
.adminPage .form .form_container {
  padding-top: 10px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  color: white;
  font-family: "Josefin Sans", sans-serif;
}
.adminPage .colorWhite {
  color: white;
}
.adminPage .offerContainer {
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: #233D2A;
  width: 80%;
  height: 70vh;
  margin: 50px auto;
  text-align: center;
  border: 8px solid #CF6B58;
  font-family: "Josefin Sans", sans-serif;
}
.adminPage .offerContainer h3 {
  margin: 20px;
  color: #ffffff;
  font-size: 2rem;
  font-weight: bold;
}
.adminPage .offerContainer p {
  color: #ECBC9D;
  margin: 5px;
}
.adminPage .offerContainer .account_btn {
  font-size: 17px;
  font-weight: bold;
  height: 30px;
  width: 150px;
  background-color: #82A28B;
  color: #ffffff;
  cursor: pointer;
  margin: 10px;
}
.adminPage .offerContainer .account_btn:hover {
  background-color: #233D2A;
  text-shadow: 0 0 2px white;
  box-shadow: 0px 0px 2px black, 0 0 25px lightgrey, 0 0 5px black;
}
.adminPage .offerContainer button {
  font-size: 17px;
  font-weight: bold;
  height: 30px;
  width: 150px;
  background-color: #82A28B;
  color: #ffffff;
  cursor: pointer;
  margin: 10px;
}
.adminPage .offerContainer button:hover {
  background-color: #233D2A;
  text-shadow: 0 0 2px white;
  box-shadow: 0px 0px 2px black, 0 0 25px lightgrey, 0 0 5px black;
}

::-webkit-scrollbar {
  display: none;
}