
@import "../../sass/main.module.scss";

.adminPage{
    width: 100%;
    background-color: $color-lightgreen;
    font-family: 'Josefin Sans', sans-serif;

    h1 {
        text-align: center;
        color: $color-white;
        font-weight: bold;
        font-size: 3rem;
    }


    .form {
        width: 40px;
        display: flex;
        overflow-x: hidden;
        overflow-y: scroll;
        background-color: $color-green;
        width: 80%;
        height: 70vh;
        margin: 50px auto;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        border: 8px solid $color-copper;
        font-family: 'Josefin Sans', sans-serif;
        color:white;

    .form_container {
        padding-top:10px;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        color:white;
        font-family: 'Josefin Sans', sans-serif;

    }
}

    .colorWhite{
        color:white;
    }
    .offerContainer{
        overflow-x: hidden;
        overflow-y: scroll;
        background-color: $color-green;
        width: 80%;
        height: 70vh;
        margin:  50px auto;
        text-align: center;
        border: 8px solid $color-copper;
        font-family: 'Josefin Sans', sans-serif;

        h3 {
            margin: 20px;
            color: $color-white;
            font-size: 2rem;
            font-weight: bold;
        }
    

    
        p{
            color: $color-desert;
            margin: 5px;
        }
    
        .account_btn{
            font-size: 17px;
            font-weight: bold;
            height: 30px;
            width: 150px;
            background-color: $color-lightgreen;
            color: $color-white;
            cursor: pointer;
            margin: 10px;
        
            &:hover {
              background-color: $color-green;
              text-shadow: 0 0 2px white;
              box-shadow: 0px 0px 2px black, 0 0 25px lightgrey, 0 0 5px black;
            }
        }

        button {
            font-size: 17px;
            font-weight: bold;
            height: 30px;
            width: 150px;
            background-color: $color-lightgreen;
            color: $color-white;
            cursor: pointer;
            margin: 10px;
        
            &:hover {
              background-color: $color-green;
              text-shadow: 0 0 2px white;
              box-shadow: 0px 0px 2px black, 0 0 25px lightgrey, 0 0 5px black;
            }
          }
        }

    }
  
    ::-webkit-scrollbar {
      display: none;
    }


