@import '../../sass/main.module.scss';

* {
    font-family: 'Josefin Sans', sans-serif;
}

.card {
    display:flex;
    flex-direction: column;
    width: 350px;
    height: 500px;
    background-color: $color-white;
    margin: 0 0 3px 3px;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.055);
    display:flex;
    flex-direction: column;
    margin: 30px auto;

    &:hover {
        box-shadow: 7px 7px rgba(0, 0, 0, 0.055);
        transform: translateY(-4px);
    }

    a {
        text-decoration: none;
    }

    h1 {
        background-color: $color-copper;
        text-align: center;
        font-size: 34px;
        margin: 0;
        padding: 10px 0 3px;
        color: $color-blue;
    }
    
    img {
        height: 250px;
        width: 100%;
        margin: 0;
    }
    
    h2 {
        padding: 15px 0 8px 10px;
        font-size: 32px;
        border-bottom: 1px black solid;
        color: $color-green;
    }
    
    p, h3 {  
        padding: 0 10px;
        padding-top: 5px;
        font-size: 21px;
        width: auto;
        color: $color-blue;
    }
    
    .info {
        display: flex;
        justify-content: space-between;
        padding: 10px 0;
        width: 100%;
        background-color: $color-pink;
        font-weight: bold;
    }
    
    .expiry {
        background-color: $color-pink;
        font-weight: bold;
        padding-top: 8px;
        padding-bottom: 17px;

        p {
            padding: 15px 10px;
            text-decoration: underline;
            color: $color-blue;
            padding-top: 5px;
        }
        h3 {
            border: 1px solid black;
            width: 55%;
            height: 35px;
            border-radius: 10px;
            text-align: center;
            margin: auto;
            color: $color-green;
            background-color: $color-desert;
            padding-top: 8px;
        }
    }
}