* {
  border: 0;
  margin: 0;
  box-sizing: border-box;
}

* {
  font-family: "Josefin Sans", sans-serif;
}

.card {
  display: flex;
  flex-direction: column;
  width: 350px;
  height: 500px;
  background-color: #ffffff;
  margin: 0 0 3px 3px;
  box-shadow: 5px 5px rgba(0, 0, 0, 0.055);
  display: flex;
  flex-direction: column;
  margin: 30px auto;
}
.card:hover {
  box-shadow: 7px 7px rgba(0, 0, 0, 0.055);
  transform: translateY(-4px);
}
.card a {
  text-decoration: none;
}
.card h1 {
  background-color: #CF6B58;
  text-align: center;
  font-size: 34px;
  margin: 0;
  padding: 10px 0 3px;
  color: #14144B;
}
.card img {
  height: 250px;
  width: 100%;
  margin: 0;
}
.card h2 {
  padding: 15px 0 8px 10px;
  font-size: 32px;
  border-bottom: 1px black solid;
  color: #233D2A;
}
.card p, .card h3 {
  padding: 0 10px;
  padding-top: 5px;
  font-size: 21px;
  width: auto;
  color: #14144B;
}
.card .info {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  width: 100%;
  background-color: #E2C7CA;
  font-weight: bold;
}
.card .expiry {
  background-color: #E2C7CA;
  font-weight: bold;
  padding-top: 8px;
  padding-bottom: 17px;
}
.card .expiry p {
  padding: 15px 10px;
  text-decoration: underline;
  color: #14144B;
  padding-top: 5px;
}
.card .expiry h3 {
  border: 1px solid black;
  width: 55%;
  height: 35px;
  border-radius: 10px;
  text-align: center;
  margin: auto;
  color: #233D2A;
  background-color: #ECBC9D;
  padding-top: 8px;
}