/* The side navigation menu */
@import '../../../sass/abstracts/variables';

.filtermenu {
  position: fixed;
  /* Stay in place */
  top: 0px;
  /* Place content 60px from the top */
  width: 320px;
  right: 0px;
  height: calc(100%);
  background-color: $color-copper;
  color: rgb(44, 41, 38);
  border-bottom-left-radius: 140px;
  z-index: 2;
  /* Stay on top */
  overflow-x: hidden;
  /* Disable horizontal scroll */
  transition: 0.5s;
  /* 0.5 second transition effect to slide in the sidenav */
  font-family: 'Josefin Sans', sans-serif;
  font-size: 15px;
  display: flex;
  flex-direction: column;
  align-items: space-around;
  padding: 10px;
  padding-top: 10px;
  line-height: 1.6;
  box-sizing: initial;
  border: initial;
  margin: initial;


  .closebtn {
    position: absolute;
    background: none;
    height: 30px;
    width: 30px;
    top: -15px;
    right: 15px;
    font-size: 72px;
    text-decoration: none;
    color: $color-green;
  }

  .whenNeed, .timeNeed, .dealNeed, .dietaryNeed, .slider {
    padding: 8px;
    
    p{
      text-align: center;
      font-weight: 700;
      font-size: 18px;
    }
  }

  .icons {
    display: flex;
    justify-content: space-around;
    padding: 10px;
  }
}