@import "../../sass/main.module.scss";

.register {
    input {
        padding: 20px;
        margin: 0 10px;
        width: 225px;
    }

    h3 {
        height: auto;
        font-size: 30px;
        color: $color-green;
        margin: 20px 0;
    }

    span {
        
    }

    .form_container {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        margin: 10px 0;
    }

    .terms {
    }

    .register_btn {
        height: 30px;
        width: 100px;
        background-color: gray;
        color: $color-white;
    }
}