.LandingPageButton {
  font-family: "Josefin Sans", sans-serif;
}

.LandingPageButton {
  text-align: left;
  margin: 40px;
  padding: 0 50px;
  height: 60px;
  border-radius: 15px;
  border: none;
  color: #fff;
  transition: 0.3s ease;
  font-size: 24px;
  background-color: #CF6B58;
  box-shadow: 0 10px #ad6050;
}
.LandingPageButton:hover {
  box-shadow: 0 8px #ad6050;
  transform: translateY(1px);
}
.LandingPageButton:active {
  background-color: #ad6050;
  box-shadow: 0 5px #ad6050;
  transform: translateY(4px);
  text-decoration: none;
  outline: none;
}
.LandingPageButton:focus {
  outline: none;
  border: none;
}

@media (max-width: 1190px) {
  button.LandingPageButton {
    width: 150px;
    font-size: 20px;
    padding-left: 5px;
  }
}
@media (max-width: 767.98px) and (orientation: portrait) {
  button.LandingPageButton {
    width: 150px;
    font-size: 20px;
    padding-left: 10px;
  }
}
@media (max-width: 575.98px) and (orientation: portrait) {
  button.LandingPageButton {
    width: 100px;
    font-size: 18px;
    align-items: left;
    padding-left: 10px;
  }
}