@import '../abstracts/variables';

button.Signin {
    border-radius: 200px;
    background: $color-blue;
    padding: 20px;
    width: 100px;
    height: 50px;
    color : whitesmoke;
  
}
button.ViewRestaurants {
    border-radius: 25px;
    background: $color-blue;
    padding: 20px;
    width: 200px;
    height: 50px;
    color : whitesmoke;

}