@import '../../../sass/abstracts/variables';

.CalendarContainer{
width: 80%;
display: flex;
justify-content: center;
margin: 10px;

 .Calender {
    // appearance: none;
    box-sizing: border-box;
    width: 80%;
    border: 1px solid $color-green;
    border-radius: 20px;
    background: transparent;
    font-size: 1rem;
    padding-bottom: 10px;
    ::-webkit-datetime-edit-text { padding: 0 2rem; }
    ::-webkit-datetime-edit-month-field { text-transform: uppercase; }
    ::-webkit-datetime-edit-day-field { text-transform: uppercase; }
    ::-webkit-datetime-edit-year-field { text-transform: uppercase; }
    ::-webkit-inner-spin-button { display: none; }
    ::-webkit-calendar-picker-indicator { background: transparent;}
}
}