@import './sass/main.module.scss';

* {
    font-family: 'Josefin Sans', sans-serif;
}

.footer {
    width: 100%;
    background-color: $color-lightgreen;
    color:black;
    padding: 8px 0 8px 20px;
    font-size: 12px;
}

